
/*------------------         MASTER STYLES       ------------------*/

body {
    font-family: 'Lato', sans-serif;
    color: #404040;
    margin: 0;
    border: 1px solid black;
}


/*-------------         NAVIGATION BAR STYLES       ---------------*/

header {
    height: 12rem;
    background-color: #ececec;
}

nav {
    font-size: 1.4rem;
    margin: 0 auto;
    display: flex;
}

nav a {
    color: #1f4b8e;
    text-decoration: none;
}

.navBar {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    margin: 1rem 1rem;
}

.active-nav-link {
    border-bottom: 1px solid #1f4b8e;
    border-radius: 
}

#brandName {
    font-size: 2rem;
    font-weight: 700;
    color: #1f4b8e;
    margin: 0 auto;
}


/*-------------------------     MAIN STYLES     -------------------*/

main {
    text-align: center;
    width: 70%;
    margin: 13vh auto;
}

.greeting {
    font-size: 1.7vw;
}

.title {
    font-size: 4.5vw;
    font-weight: 700;
    margin-bottom: 0;
}

.homeImages {
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
}

.divideHomeImages {
    width: 50%;
}

.homeImage {
    width: 85%;
    min-width: 250px;
    max-width: 400px;
}

.imageCaption {
    font-size: 1.1rem;
    width: 85%;
    min-width: 250px;
    max-width: 400px;
    margin: 0 auto;
}


/*-------------------     PROJECTS STYLES     ---------------------*/

.projectsBody {
    margin: 3rem 15%;
    border: 1px solid black;
}


/*----------------------      FOOTER STYLES       -----------------*/

footer {
    height: 13rem;
    background-color: #0f1225;
}


